.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid rgb(143, 143, 143);
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.delete.button {
  background-color: red;
  margin-bottom: 1rem;
}
.form {
  margin-bottom: 3rem;
}

.create-post-title {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: rgb(201, 255, 248);
  border: solid 1px rgb(0, 255, 221);
  /* color: #fff; */
}

.blue {
  background-color: rgb(106, 106, 255);
}
