.landing-page-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../../img/background.jpg') no-repeat center center/cover;
}

.landing-page-contents {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.button {
  display: inline-block;
  background: white;
  color: gray;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
}
