* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
  color: gray;
}

a {
  text-decoration: none;
  color: rgb(104, 158, 160);
}

ul {
  list-style: none;
}

/* centering icon with text */
.center-icon {
  display: flex;
  align-items: center;
}

/* Contents after navbar */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  color: black;
}

/* Alerts */
.alert {
  padding: 0.4rem;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.alert.alert-danger {
  background: rgb(245, 30, 30);
  color: rgb(243, 221, 221);
}
